<%- include("./partials/header") %>



    <video playsinline autoplay muted loop>
        <source src="/images/ps3.mp4" type="video/mp4">
    </video>
    <div class="container mt-2">

        <nav class="navbar navbar-expand-lg sticky-top">

            <a class="navbar-brand " href="/">StudentToDo</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item"></li>
                <div class="container">

                    <h5>Logged in as : <%= user.email %>
                    </h5> <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
                </li>
            </ul>
            <p id="ctime">Current Time:</p>
            <p id="time">
            </p>
        </nav>
        <script>

            function updateTime() {
                var date = new Date();
                var time = date.toLocaleTimeString('en-US', { hour12: true });
                document.getElementById("time").innerHTML = time;
            }

            setInterval(updateTime, 1000);


        </script>
        <div class="container mt-5">
            <form action="/add/todo" method="POST" class="d-flex">
                <input type="text" name="todo" class="form-control" placeholder="Enter The task">
                <input type="submit" value="Add task" class="btn btn-md btn-primary mx-3">
                <input type="text" name="userEmail" hidden value="<%= user.email %>">
            </form>
            <ul class="list-group my-5">





                <% todo.forEach(todos=> { %>
                    <% if(todos.userEmail==user.email){ %>
                        <li class="list-group-item ">
                            <%= todos.todo %>

                                <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger  mx-3">Delete</a>
                        </li>
                        <% } else{ %>

                            <% } %>

                                <% }) %>

            </ul>
        </div>
    </div>
    <style>
        p {
            font-family: 'Times New Roman', Times, serif
        }

        video {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -99;
        }

        body {
            /* background-image: url(); */
            background-size: cover;
            background-repeat: no-repeat;

        }

        .navbar-brand,
        .nav-link {
            color: black;
        }

        .navbar-brand:hover,
        .nav-link:hover {
            color: grey;
        }

        .form-control {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            border: transparent;


        }

        .form-control::placeholder {
            color: black;
        }

        .form-control:focus {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);


        }


        .list-group-item {

            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 10px;
            border-radius: 15px;
        }

        .list-group {
            border-radius: 15px;

        }

        .btn {
            float: right;
        }

        .navbar {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 15px;
        }
    </style>


    <%- include("./partials/footer") %>